@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ol {
    list-style-type: lower-alpha;
}


ul {
    color: blue;

    list-style-type: square;
    list-style-position: inside;
    /* list-style-image: url('../images/checkmark.png'); */

    text-align: center;
}

ul li:nth-child(odd) {
    color: green;
}

ul ::marker {
    color: black;
    font-family: fantasy;
    font-size: 0.5em;
    content: 'Only 5$ --> ';
}